<div id="footer">
    <div class="footer-child">
        <h4>Newsletter:::</h4>
        <div>
            <p>Get the Latest Pricey News and Giveaways</p>
            <p><input id="input-email" placeholder ="Enter your email address" type="text"></p>
            <p>SERVICE HOURS: Monday-Saturday 9AM to 8PM</p>
            <p>CUSTOMER SERVICE: +1568899900000000 (First Choice) <span id="phone"> +236788899999 </span></p>
            <p>Whatsapp: +3345667777889</p>
        </div>
    </div>
    <div class="footer-child">
        <h4>About Pricey:::</h4>
        <div>
            <p>About Us</p>
            <p>Where to Buy</p>
            <p>Special Offer</p>
        </div>
    </div>
    <div class="footer-child">
        <h4>Terms:::</h4>
        <div>
            <p>Warranty</p>
            <p>Order & Shipping</p>
            <p>Replacement & Refund</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
    </div>
    <div class="footer-child">
        <h4>Get Help:::</h4>
        <div>
            <p>Visit Carlcare</p>
            <p>Track Your Order</p>
            <p>Contact Us</p>
        </div>
    </div>
</div>
<div id="footer2">
    <div class="footer2-sub">
        <p>NEWSLETTER</p>
        <div onclick="showDropdown1()"><img src="../../images/priceylogo edit.png" alt=""></div>
    </div>
    <div id="footer-dropdown1">
        <div>
            <p>Get the Latest oraimo News and Giveaways</p>
            <p><input id="input-email" placeholder="Enter your email address" type="text"></p>
            <p>SERVICE HOURS: Monday-Friday 9AM to 8PM</p>
            <p>CUSTOMER SERVICE: 13456677888 (First Choice) <span id="phone"> 245677777889999 </span></p>
            <p>Whatsapp: 3356778888888</p>
        </div>
    </div>
    <div class="footer2-sub">
        <div onclick="showDropdown2()"><img src="../../images/priceylogo edit.png" alt=""></div>
    </div>
    <div id="footer-dropdown2">
        <div>
            <p>About Us</p>
            <p>Where to Buy</p>
            <p>Special Offer</p>
        </div>
    </div>
    <div class="footer2-sub">
        <p>TERMS</p>
        <div onclick="showDropdown3()"><img src="./images/icons8-arrowhead-30 (2).png" alt=""></div>
    </div>
    <div id="footer-dropdown3">
        <div>
            <p>Warranty</p>
            <p>Order & Shipping</p>
            <p>Replacement & Refund</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
    </div>
    <div class="footer2-sub">
        <p>GET HELP</p>
        <div onclick="showDropdown4()"><img src="./images/icons8-arrowhead-30 (2).png" alt=""></div>
    </div>
    <div id="footer-dropdown4">
        <div>
            <p>Visit Carlcare</p>
            <p>Track Your Order</p>
            <p>Contact Us</p>
        </div>
    </div>
</div>
<div id="last-section">
    <div><img id="logo2" src="../../images/priceylogo edit.png" alt=""></div>
    <p>© 2023 Pricey's Collection Copyright.</p>
</div>